rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Sesi perkuliahan & postingan diskusi publik untuk LMS kelas
    match /sessions/{sessionId} {
      allow read, write: if true;
    }
    match /posts/{postId} {
      allow read, write: if true;
    }
  }
}
